            body {
                font-family: 'Open Sans', sans-serif;
                font-family: 'Poppins', sans-serif;
                padding: 0px;
                margin: 0px;
            }
            
            nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 160px;
            }
            
            .nav-title {
                color: #181818;
                font-family: Open Sans;
                font-size: 45px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
            
            .text-primary {
                color: #FD6E0A;
                ;
            }
            
            nav>ul {
                display: flex;
                align-items: center;
            }
            
            nav li {
                list-style: none;
                margin-right: 50px;
            }
            
            nav a {
                text-decoration: none;
            }
            
            .btn-primary {
                border-radius: 5px;
                background: #FD6E0A;
                border: 0;
                color: white;
                font-size: 20px;
                padding: 15px 35px;
                font-weight: 700;
            }
            
            .header {
                /* height: 100vh; */
                background-color: #FFF8F3;
                background-image: url(./image/background.png), url(./image/devloper.png);
                background-repeat: no-repeat;
                background-position: bottom right, top left;
                background-origin: border-box, content-box;
                padding-top: 50px;
            }
            
            .banner {
                display: flex;
                padding: 30px 30px 0px 150px;
                align-items: center;
                justify-content: space-between;
            }
            
            .banner .profile-img {
                width: 500px;
                padding-right: 50px;
                transform: translateY(5px);
            }
            
            .banner-greeting {
                font-size: 45px;
                color: #474747;
                margin-top: 0;
            }
            
            .banner-title {
                font-size: 85;
                font-style: norma;
                font-weight: 700;
                margin-top: 5px;
                /* margin-bottom: 20px; */
            }
            
            .banner-contain {
                max-width: 500px;
            }
            
            .profile-img {
                padding-left: 50px;
            }
            /* main section start */
            
            main {
                max-width: 1140px;
                margin: auto;
            }
            
            .about {
                padding: 130px;
                border-radius: 10px;
                background-color: #FFF8F3;
                margin: 130px 0;
            }
            
            .section-title {
                color: var(--dark-01, #181818);
                text-align: center;
                font-family: Open Sans;
                font-size: 35px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            
            .section-dis {
                color: #757575;
                text-align: center;
                font-size: 18px;
            }
            /* about start here */
            
            .about-info-container {
                display: flex;
                justify-content: center;
            }
            
            .about-info {
                text-align: center;
                padding: 0 20px;
            }
            
            #section-do {
                padding: 20px 150px;
            }
            /* skill */
            
            .skill-container {
                display: flex;
                gap: 24px;
            }
            
            .skill {
                padding: 30px;
                border-radius: 5px;
                background: #FFF;
                box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
            }
            
            .skill-description {
                color: #757575;
            }
            
            main section {
                margin-top: 130px;
            }
            
            .resume-colume-tille {
                color: #474747;
                font-size: 30px;
                font-weight: 700;
            }
            
            .resume-container {
                display: flex;
                gap: 50px;
            }
            
            .resume-item-institution,
            .resume-item-description {
                color: #757575;
            }
            
            .resume-item-title {
                color: var(--dark-02, #474747);
                font-family: Open Sans;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            
            .download-cv {
                text-align: center;
                margin-top: 50px;
            }
            
            footer {
                display: flex;
                background-color: #FFF8F3;
                padding: 130px 200px;
                margin-top: 100px;
                gap: 100px;
            }
            
            .footer-colume {
                width: 50%;
            }
            
            .contact input[type="text"],
            .contact input[type="email"],
            textarea {
                display: block;
                margin-bottom: 25px;
                padding: 18px 35px;
                color: #757575;
                border-radius: 5px;
                background: white;
                border: 0;
                width: 100%;
            }
            
            .footer-image {
                margin-right: 25px;
                padding-left: 10px;
            }
            
            .hide {
                display: none;
            }
            /* mobile device */
            
            @media screen and (max-width: 576px) {
                * {
                    padding: 0%;
                    margin: 0%;
                }
                .header {
                    background-image: none;
                }
                nav>ul,
                .skill-container,
                .resume-container {
                    flex-direction: column;
                    padding: 20px;
                }
                #section-do {
                    padding: 20px;
                }
                footer {
                    flex-direction: column;
                    padding: 10px;
                }
                .footer-colume {
                    width: 100%;
                }
                .contact input[type="text"],
                .contact input[type="email"],
                textarea {
                    width: 70%;
                    margin-left: 20px;
                }
                #ft-btn {
                    margin-left: 100px;
                }
                .about {
                    padding: 10px;
                }
                .about-info-container {
                    flex-direction: column;
                }
                nav {
                    flex-direction: column;
                    background-image: none;
                }
                .banner {
                    flex-direction: column;
                    justify-content: center;
                    padding: 0px;
                    text-align: center;
                }
                nav>ul {
                    flex-direction: row-reverse;
                    margin-bottom: 20px;
                    padding: 0%;
                }
                .banner .profile-img {
                    width: 100%;
                    padding: 0%;
                }
                nav>ul {
                    gap: 10px;
                }
                .cv {
                    margin-top: 10px;
                }
                .contact-us {
                    margin-top: 10px;
                }
            }